#id_add_media {
    float: left;
}

#id_media_properties, #id_media_preview {
    float: left;
    margin-left: 5px;
}

#slider_border {
    width:  100%;
    height: 18px;
    border: 1px solid #000000;
    overflow: hidden;
}

#progress_bar {
    float: left;
    height: 18px;
    width: 0%;
    /*border-right: 1px solid #000000;*/
    background: #00FF00;
}

#loading_text {
    position: relative;
    top: -18px;
    font-weight: bold;
    left: 12px;
}

.playPauseBtn,.largePlayBtn,.ui-slider-horizontal,.icon-volume-high,.currentTimeLabel,.durationLabel {
    display: none !important;
}

//#modal_content {
//    width: 320px;
//    height: 240px;
//    font-size: 14px;
//    margin: 0 ;
//    padding: 10px 20px ;
//    border: 2px solid #aaa ;
//    background: #fff ;
//    position: fixed ;
//    display: none ;
//    z-index: 2 ;
//}

//#modal_window {
//    z-index: 1 ;
//    display: none ;
//    position: fixed ;
//    top: 0 ;
//    left: 0 ;
//    width: 100% ;
//    height: 120% ;
//    background-color: rgba( 0,0,0, 0.75 ) ;
//}
